LAB:04
SQLAlchemy, SQLite, Mongodb in python

OBEJECTIVES:
1. To implement database operations in python

THEORY:
Databases are necessary for effectively managing, storing, and retrieving data. Relational databases, such as SQLite, adhere to a predetermined schema and employ an organized format with tables, rows, and columns. Through connections and limitations, this guarantees data integrity and consistency. A robust Python module called SQLAlchemy makes database interactions easier by offering an Object layer of Relational Mapping (ORM). Database tables are represented as Python classes with SQLAlchemy, allowing Python code to be used in place of intricate SQL statements for tasks like entering, updating, removing, and querying data. This enhances the readability and maintainability of the code.

SQLite is alightweight, self-contained, serverless relational database engine.
It stores the entire database in a single file on disk and does not require a separate database server process.

In [1]:
import sqlite3

# 1. Connect to (or create) database
conn = sqlite3.connect("1example.db")
cursor = conn.cursor()

# 2. Drop table if it already exists (fixes schema mismatch)
cursor.execute("DROP TABLE IF EXISTS users")

# 3. Create table with all SQLite data types
cursor.execute("""
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,   -- Whole number
    name TEXT NOT NULL,                     -- Text
    age INTEGER,                            -- Integer
    salary REAL,                            -- Float
    is_active BOOLEAN,                     -- Boolean (0 or 1)
    bio TEXT,                              -- Long text
    join_date DATETIME,                    -- Date & time
    profile_picture BLOB,                  -- Binary data
    misc_data NUMERIC,                     -- Flexible numeric
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

# 4. Insert example data
cursor.execute("""
INSERT INTO users 
(name, age, salary, is_active, bio, join_date, profile_picture, misc_data)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", (
    "Alice",
    30,
    55000.50,
    1,
    "Software Engineer",
    "2026-01-05 05:00:00",
    None,
    123.45
))

# 5. Commit changes
conn.commit()

# 6. Verify insert
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

# 7. Close connection
conn.close()

(1, 'Alice', 30, 55000.5, 1, 'Software Engineer', '2026-01-05 05:00:00', None, 123.45, '2026-01-28 16:33:44')

SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.
It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.

Objectâ€“relational mapping (ORM) in computer science is a programming technique for converting data between a relational database and the memory (usually the heap) of an object-oriented programming language. This creates, in effect, a virtual object database that can be used from within the program.

In [2]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

# 1. Setup the connection
engine = create_engine("sqlite:///data1.db")

# 2. Create Base
Base = declarative_base()

# 3. Define a table (Model)
class User(Base):
    __tablename__ = "users"

    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)
    course = Column(String)

# 4. Create table
Base.metadata.create_all(engine)

In [3]:
Session = sessionmaker(bind=engine)
session = Session()

#Multiple rows
users = [
    User(name="BE Computer", email="be@nict.edu",course="Engineering"),
    User(name="BE CSIT", email="cist@nict.edu",course="Science"),
    User(name="BIT", email="bit@nict.edu",course="IT"),
]

session.add_all(users)
session.commit()

In [4]:
all_users= session.query(User).all()

for user in all_users:
    print(user.id, user.name, user.email, user.course)

1 BE Computer be@nict.edu Engineering
2 BE CSIT cist@nict.edu Science
3 BIT bit@nict.edu IT
4 BE Computer be@nict.edu Engineering
5 BE CSIT cist@nict.edu Science
6 BIT bit@nict.edu IT

MongoDB is a popular NoSQL database used for storing structured, semistructured, and unstructured data. Instead of using tables, as in a traditional relational database, MongoDB stores data in JSON documents organized into collections.

In [5]:
from pymongo import MongoClient

client = MongoClient('mongodb+srv://prarthanadaibagya:prarthana@cluster0.olyjwso.mongodb.net/?appName=Cluster0')

db = client['my_database']
user = db['users_collection']

In [6]:
#insert single data
user.insert_one({
    "name": "Aman",
    "email": "aman@nict.edu",
    "course": "Python"
})

InsertOneResult(ObjectId('697a3a6f449433c17cf7f44f'), acknowledged=True)

In [7]:
#insert multiple data
user.insert_many([
    {"name": "BE Computer", "email": "be@nict.edu", "course": "Engineering"},
    {"name": "BE CSIT", "email": "cist@nict.edu", "course": "Science"},
    {"name": "BIT", "email": "bit@nict.edu", "course": "IT"},
])

InsertManyResult([ObjectId('697a3a8a449433c17cf7f450'), ObjectId('697a3a8a449433c17cf7f451'), ObjectId('697a3a8a449433c17cf7f452')], acknowledged=True)

In [8]:
#retrieve data(read)
for u in user.find():
    print(u)

{'_id': ObjectId('697a3a6f449433c17cf7f44f'), 'name': 'Aman', 'email': 'aman@nict.edu', 'course': 'Python'}
{'_id': ObjectId('697a3a8a449433c17cf7f450'), 'name': 'BE Computer', 'email': 'be@nict.edu', 'course': 'Engineering'}
{'_id': ObjectId('697a3a8a449433c17cf7f451'), 'name': 'BE CSIT', 'email': 'cist@nict.edu', 'course': 'Science'}
{'_id': ObjectId('697a3a8a449433c17cf7f452'), 'name': 'BIT', 'email': 'bit@nict.edu', 'course': 'IT'}

In [9]:
#update data
user.update_one(
    {"name": "BIT"},
    {"$set": {"course": "IT & Computing"}}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000119'), 'opTime': {'ts': Timestamp(1769618100, 12), 't': 281}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1769618100, 12), 'signature': {'hash': b'Q\x95\xb4\x1d\xa8j\xe0dy<\x88}\x04\xde\x08/\x8c\x0b\xf9i', 'keyId': 7562152392695742466}}, 'operationTime': Timestamp(1769618100, 12), 'updatedExisting': True}, acknowledged=True)

In [10]:
#delete data
user.delete_one({"name": "BE CSIT"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000119'), 'opTime': {'ts': Timestamp(1769618128, 20), 't': 281}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1769618128, 20), 'signature': {'hash': b'\xc3\x98a\xde\x96\x17^M\xec\xe2r\x01H\xcb\xb4\xca\xb1\x88z\x10', 'keyId': 7562152392695742466}}, 'operationTime': Timestamp(1769618128, 20)}, acknowledged=True)

In [11]:
#retrieve data(read)
for u in user.find():
    print(u)

{'_id': ObjectId('697a3a6f449433c17cf7f44f'), 'name': 'Aman', 'email': 'aman@nict.edu', 'course': 'Python'}
{'_id': ObjectId('697a3a8a449433c17cf7f450'), 'name': 'BE Computer', 'email': 'be@nict.edu', 'course': 'Engineering'}
{'_id': ObjectId('697a3a8a449433c17cf7f452'), 'name': 'BIT', 'email': 'bit@nict.edu', 'course': 'IT & Computing'}

DISCUSSION:
This lab focused on working with databases in Python using SQLite and MongoDB. We began by using SQLAlchemy to create a local SQLite database named data1.db. A table was defined using a Python class, and the database structure was created accordingly. We then added multiple records and retrieved them through queries, demonstrating how relational databases use structured schemas and SQL operations via an ORM. Next, we used MongoDB Atlas, a cloud-based database platform. After setting up a cluster, creating a database user, and configuring network access, we established a successful connection using the Atlas connection string. We performed basic CRUD operations such as inserting documents and fetching data from a collection.

CONCLUSION:
In conclusion, the lab offered practical exposure to both relational and NoSQL databases. It emphasized the differences in their architecture, setup process, and data management methods, while strengthening our understanding of core database operations in Python.